<main>
  <ng-container *ngFor="let product of products$ | async">
    <mat-card class="mat-card">
      <mat-card-header>
        <mat-card-title>
          {{product.title}}
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <img class="product-image" [ngSrc]="product.image"  width="200" height="100" >
      <p>  {{product.description | slice: 0: 50}}</p>
      <p>  Price: {{product.price }}</p>
      <p>  Rating : {{product.rating.rate }} Total Reviews : {{product.rating.count }} </p>
      </mat-card-content>
    </mat-card>
</ng-container>

</main>
